* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Replaced class with appropriate semantic HTML tag */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Replaced class with appropriate semantic HTML tag */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed class to id because it is unique */
h1 #seo {
    color: #d9dcd6;
}
 
/* Replaced class with appropriate semantic HTML tag */
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Replaced class with appropriate semantic HTML tag */
header section ul {
    list-style-type: none;
}

/* Replaced class with appropriate semantic HTML tag */
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Replaced class with appropriate semantic HTML tag. 
Removed multiple, repetitive declarations for H2  */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Replaced class with appropriate semantic HTML tag. 
Removed multiple, repetitive declarations for H3  */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changed class to id and renamed to specify content and moved image to HTML */
#mainImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Removed multiple, repetitive declarations for the main content images  */
section img {
    max-height: 200px;
}

/* Removed multiple, repetitive declarations for the aside images  */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Replaced class with appropriate semantic HTML tag */
footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Created an id for a larger, bolded font-size on the first line
    and added top padding */
#footerTopLine {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* Created an id for a smaller font-size on the second line
    and added bottom padding */
#footerBottomLine {
    padding-bottom: 30px;
    font-size: 16px;
}
